<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Carcassonne Scoreboard{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-14 -14 28 28'%3E%3Cpath fill='%234c7a42' d='M 0,-11 C -3,-11 -5,-9 -5,-7 L -5,-3 L -11,-3 C -12,-3 -12,-1.5 -12,0 L -12,1 L -7,5 L -4,5 L -4,10 L 4,10 L 4,5 L 7,5 L 12,1 L 12,0 C 12,-1.5 12,-3 11,-3 L 5,-3 L 5,-7 C 5,-9 3,-11 0,-11 Z'/%3E%3C/svg%3E">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600&family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://unpkg.com/htmx.org@2.0.10"></script>
</head>
<body>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
